{% extends "base_uplink.html" %}
{% block lang %}es{% endblock %}
{% block title %}Bienvenido a Uplink{% endblock %}
{% block content %}
<h1 style="margin:0 0 16px 0; font-size:22px; font-weight:700; color:#1e1b4b;">&iexcl;Bienvenido a Uplink, {{ user_name }}!</h1>
<p style="margin:0; font-size:15px; line-height:1.6; color:#374151;">Tu cuenta ya est&aacute; activa. Ya puedes iniciar sesi&oacute;n y empezar a trabajar.</p>
{% endblock %}
{% block footer %}Este es un mensaje autom&aacute;tico, por favor no respondas a este correo.{% endblock %}
